{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/cartagapp"
    },
    "cloudant": {
      "db": "https://argedivinedyingerbitheet:PfyYpdsE4JBQiuEYv5VWxvJ1@thetimcook.cloudant.com/asdproject"
    }
  }
}
